# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\공유 드라이브\HandaProjects\webcrawling_selenium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
